<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Visualizer</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="css/text-style.css">
<link href="webjars/bootstrap/4.3.1/css/bootstrap.min.css"
	rel="stylesheet"></link>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="all">
		<div class="header">
			<nav class="navbar navbar-expand-lg navbar-dark navbar-custom">
				<a class="navbar-brand" href="#">Visualizer</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse"
					data-target="#navbarNav" aria-controls="navbarNav"
					aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNav">
					<ul class="navbar-nav">
						<li class="nav-item"><a class="nav-link" href="/home">Home</a>
						</li>
						<li class="nav-item"><a class="nav-link" href="/visualize">Visualize</a>
						</li>
						<li class="nav-item"><a class="nav-link" href="/help">Help</a>
						</li>
						<li class="nav-item active"><a class="nav-link" href="/about">About
								<span class="sr-only">(current)</span>
						</a></li>
						
						<li class="nav-item"><a class="nav-link"
							href="/costumVisualize">Costum Visualize</a></li>
					</ul>
				</div>
			</nav>
		</div>

		<div class="main">
			<br>
			<h3>Facts</h3>
			<br>
			<p>1000+ lines of code</p>
			<p>3 month development</p>
			<p>Responsive design</p>
			<p>Extensions possible</p>
			<p>BMA project</p>
			<br>
			
			<hr>
			
			<br>
			<h3>About</h3>
			<br>
			<p>The aim of this project is to specify our project idea for the BMA work.
			This means that we are specifying the concept for the "Code Visualizer" project and implement the 
			functions to visualize code.
			</p>
			<br>
			
			<hr>
			
			<br>
			<h3>Idea</h3>
			<br>
			<p>The idea of ​​this project is to combine programming and drawing. Through this we want
			achieve that you can explain code a little better to someone who may not have
			had a lot to do with it. The name Code Visualizer actually speaks for itself. So we want
			Visualize code by showing it with drawings / animations. The goal here will be
			that the user can either enter code directly or guided tasks in an application
			executes and sees the visualization directly. Since you don't have a drawing here for every case,
			we will go more in the direction of stories here. That means we give the user certain
			Stories already prepared. Then through these stories we can also make a better connection
			drawing and specific code elements create and provide the user with individual important parts of the
			programming.</p>
			<br>
			
			<hr>
			
			<br>
			<h3>Pictures</h3>
			<br>
			<div class="row">
				<div class="col 6" style="padding: 0px; margin: 20px 10px 10px 20px;">
					<figure>
						<img src="/img/img_1.jpeg" style="width: 100%;">
						<figcaption>Example of some code</figcaption>
					</figure>
				</div>
				<div class="col 6" style="padding: 0px; margin: 20px 20px 10px 10px;">
					<figure>
						<img src="/img/img_2.jpeg" style="width: 100%;">
						<figcaption>Some drawings for the story</figcaption>
					</figure>
				</div>
			</div>
			<div class="row">
				<div class="col 6" style="padding: 0px; margin: 10px 10px 20px 20px;">
					<figure>
						<img src="/img/img_3.jpeg" style="width: 100%;">
						<figcaption>Drawing a story</figcaption>
					</figure>
				</div>
				<div class="col 6" style="padding: 0px; margin: 10px 20px 20px 10px;">
					<figure>
						<img src="/img/img_4.jpeg" style="width: 100%;">
						<figcaption>Setup for drawing</figcaption>
					</figure>
				</div>
			</div>
			
		</div>

		<div class="footer">
			<nav
				class="justify-content-center navbar navbar-expand-lg navbar-custom">
				<a class="navbar-text" href="#">&copy; 2021</a>
			</nav>
		</div>
	</div>
</body>
</html>