<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Visualizer</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" href="css/style.css">
<link href="webjars/bootstrap/4.3.1/css/bootstrap.min.css"
	rel="stylesheet"></link>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="all">
		<div class="header">
			<nav class="navbar navbar-expand-lg navbar-dark navbar-custom">
				<a class="navbar-brand" href="#">Visualizer</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse"
					data-target="#navbarNav" aria-controls="navbarNav"
					aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNav">
					<ul class="navbar-nav">
						<li class="nav-item"><a class="nav-link" href="/home">Home</a>
						</li>
						<li class="nav-item"><a class="nav-link" href="/visualize">Visualize</a>
						</li>
						<li class="nav-item"><a class="nav-link" href="/help">Help
						</a></li>
						<li class="nav-item"><a class="nav-link" href="/about">About
						</a></li>
						
						
						<li class="nav-item active"><a class="nav-link"
							href="/costumeVisualize">Costume Visualize <span
								class="sr-only">(current)</span></a></li>
					</ul>
				</div>
			</nav>
		</div>

		<div class="main container">

			<div class="row">

				<div class="col-6">
					<form th:object="${elementDto}" method="post">
						<p>Please select your element:</p>
						<label> Class <input th:field="*{element}" type="radio"
							id="e_class" name="element" value="class">
						</label> <br> <label> Method <input th:field="*{element}"
							type="radio" id="e_method" name="element" value="method">
						</label> <br> <label> Attribute <input th:field="*{element}"
							type="radio" id="e_atribut" name="element" value="attribute">
						</label> <br>
						<button type="submit">Check</button>

						<!-- <table>
							<tr th:each="testItem, iter: ${testList}">
								<td><input type="radio" id="_class" name="elemente"></td>
								<td th:text="${iter.index}">
								<td th:text="${testItem}" />
							</tr>
						</table> -->

						<table>
							<tr th:each="currentElement, iter: ${elementHistory}">
								<td><input
									th:attr="value = ${currentElement.valueForOrder}"
									th:field="*{elementId}" type="radio" id="_class"
									name="elemente"></td>
								<td th:text="${iter.index}">
								<td th:text="${currentElement.elementString}" />

								<table th:if="${currentElement.childrenElementList.size() > 0}">
									<tr th:each="currentElement2, iter: ${currentElement.childrenElementList}">
										<td th:text="${currentElement2.elementString}" />
									<tr>
								</table>

							</tr>
						</table>
					</form>
				</div>

				<div class="col-6"></div>
			</div>

		</div>

		<div class="footer">
			<nav
				class="justify-content-center navbar navbar-expand-lg navbar-custom">
				<a class="navbar-text" href="#">&copy; 2020</a>
			</nav>
		</div>
	</div>
</body>
</html>