<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Visualizer</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="css/text-style.css">
<link href="webjars/bootstrap/4.3.1/css/bootstrap.min.css"
	rel="stylesheet"></link>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="all">
		<div class="header">
			<nav class="navbar navbar-expand-lg navbar-dark navbar-custom">
				<a class="navbar-brand" href="#">Visualizer</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse"
					data-target="#navbarNav" aria-controls="navbarNav"
					aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNav">
					<ul class="navbar-nav">
						<li class="nav-item"><a class="nav-link" href="/home">Home</a>
						</li>
						<li class="nav-item"><a class="nav-link" href="/visualize">Visualize</a>
						</li>
						<li class="nav-item active"><a class="nav-link" href="/help">Help
								<span class="sr-only">(current)</span>
						</a></li>
						<li class="nav-item"><a class="nav-link" href="/about">About</a>
						</li>
					
						<li class="nav-item"><a class="nav-link"
							href="/costumVisualize">Costum Visualize</a></li>
					</ul>
				</div>
			</nav>
		</div>

		<div class="main">
			<br>
			<h3>Helpful notes</h3>
			<br>
			<div class="row">
				<div class="col 4">
					<b>How to use the visualizer?</b>
					<p>1. Click on visualize in the navbar at the top</p>
					<p>2. Click on a theme</p>
					<p>3. Enter your code</p>
					<p>---------Specific--------</p>
					<p>4. Press the submit button</p>
					<p>5. Check the response (image and text)
					<p>6. Repeat steps from the third step</p>
				</div>
				<div class="col 4">
					<b>Why does costum visualize not show images?</b>
					<p>Because it is not possible to draw images for all possible events, in the given project time,
					so only the logic to choose the code elements work and no images were shown.
				</div>
				<div class="col 4">
					<b>How is it expandable?</b>
					<p>1. You have to create a new theme at the side navbar</p>
					<p>2. Draw images for your story</p>
					<p>3. Implement logic to show image</p>
					<p>4. Implement response messages</p>
					<p>5. Write it into the documentation</p>
				</div>
			</div>
			<br>			
			
			<hr>
			
			<br>
			<h3>Contacts</h3>
			<div class="row">
				<div class="col 6" style="padding: 0px; margin: 20px 10px 20px 20px;">
					<figure>
						<img src="/img/sascha.jpg" style="width: 30%; border-radius: 50%;">
						<figcaption><b>Name:</b> Sascha Ralph Huber</figcaption>
						<figcaption><b>E-mail:</b> sascha.huber@lernende.bbw.ch</figcaption>
					</figure>
				</div>
				<div class="col 6" style="padding: 0px; margin: 20px 20px 20px 10px;">
					<figure>
						<img src="/img/unavailable.png" style="width: 30%; border-radius: 50%;">
						<figcaption><b>Name:</b> Elio Jänne</figcaption>
						<figcaption><b>E-mail:</b> elio.jaenne@lernende.bbw.ch</figcaption>
					</figure>
				</div>
			</div>
		</div>

		<div class="footer">
			<nav
				class="justify-content-center navbar navbar-expand-lg navbar-custom">
				<a class="navbar-text" href="#">&copy; 2021</a>
			</nav>
		</div>
	</div>
</body>
</html>