<html>
	<head>
		<title>Visualizer</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link rel="stylesheet" href="css/style.css">
		<link href="webjars/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"></link>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	</head>
	<body>
		<div class="all">
		<div class="header">
			<nav class="navbar navbar-expand-lg navbar-dark navbar-custom">
				<a class="navbar-brand" href="#">Visualizer</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse"
					data-target="#navbarNav" aria-controls="navbarNav"
					aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNav">
					<ul class="navbar-nav">
						<li class="nav-item"><a class="nav-link" href="/home">Home
						</a></li>
						<li class="nav-item"><a class="nav-link" href="/about">About</a>
						</li>
						<li class="nav-item active"><a class="nav-link" href="/visualize">Visualize <span class="sr-only">(current)</span></a>
						</li>
						<li class="nav-item"><a class="nav-link"
							href="/costumeVisualize">Costume Visualize</a></li>
					</ul>
				</div>
			</nav>
		</div>

		<div class="main">
			<p>Visualize</p>
		</div>

		<div class="footer">
			<nav
				class="justify-content-center navbar navbar-expand-lg navbar-custom">
				<a class="navbar-text" href="#">&copy; 2020</a>
			</nav>
		</div>
	</div>
	</body>
</html>